.game-screen {
  min-height: 100vh;
  background:
     linear-gradient(100deg, #ff4f9ba6, #ff7eb4c7,#bd869bf8),
    url(../img/Home/image\ copy.png);
  background-blend-mode: soft-light;
  background-size: cover, 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  opacity: 1;
  
}


.game-header {
  text-align: center;
  color: #7a1c4b;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 70px);
  grid-template-rows: repeat(8, 70px);
  gap: 8px;
  background: rgba(255, 240, 248, 0.781);
  padding: 15px;
  border-radius: 25px;
  box-shadow: 0 15px 40px rgba(180, 60, 120, 0.25);
}

.cell {
  width: 60px;
  height: 60px;
  background: radial-gradient(circle at top, #fff, #ffe0f0);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.cell:hover {
  transform: scale(1.08);
  box-shadow: 0 0 12px rgba(255, 100, 170, 0.6);
}

.cell img {
  width: 80%;
  pointer-events: none;
  transition: transform 0.3s ease;
}

.cell.selected {
  border: 3px solid #ff4fa3;
  box-shadow: 0 0 15px #ff7eb3;
}
/* MATCH x3 – brillo suave */
.match-3 {
  animation: glowSoft 0.6s ease-in-out infinite alternate;
}

@keyframes glowSoft {
  from {
    box-shadow: 0 0 5px #ff9fcf;
  }
  to {
    box-shadow: 0 0 15px #ff4fa3;
  }
}

/* MATCH x4 – pulso más fuerte */
.match-4 {
  animation: pulseStrong 0.5s ease-in-out infinite alternate;
}

@keyframes pulseStrong {
  from {
    transform: scale(1);
    box-shadow: 0 0 10px #ff4fa3;
  }
  to {
    transform: scale(1.15);
    box-shadow: 0 0 25px #ff1f8f;
  }
}

/* MATCH x5 – explosión elegante */
.match-5 {
  animation: megaShine 0.7s ease-in-out infinite alternate;
  background: radial-gradient(circle, #fff, #ffd1ec, #ff7eb3);
}

@keyframes megaShine {
  from {
    transform: scale(1);
    box-shadow: 0 0 15px #ffd1ec;
  }
  to {
    transform: scale(1.25);
    box-shadow: 0 0 40px #ff1f8f;
  }
}

/* Animación de desaparición suave */
.fade-out {
  animation: fadeOut 0.4s ease forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: scale(0.6);
  }
}